.contacts {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 36px;
  text-align: center;
}

.contacts > a {
  display: flex;
  gap: 8px;
  font-size: 14px;
  max-width: 115px;
  min-width: 115px;
  height: 34px;
  font-weight: 500;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding: 6px 18px 6px 16px;
}

.email {
  color: #374151;
  background: #ffffff;
}

.linkedin {
  color: #ffffff;
  background: #5093e2;
}
